.principal{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.titulo-principal{
  font-family: var(--fonte-secundaria);
  font-size: 110px;
}

.texto-principal{
  font-size: 24px;
}

.container-principal{
  margin-right: 20em;
}
/*já está na parte style.
.container-produtos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}*/

.produtos{
  margin: 0.5em;
}
