@import url("cabecalho.css");
@import url("principal.css");

:root{
  --fonte-principal: "Inter", sans-serif;
  --fonte-secundaria: "Italiana", serif;
  --cinza-principal: #696969;
  --cinza-escuro: #454545;
  --branco: #FFFFFF;
}

body {
    background-image: url("/img/fundo.jpg");
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
}



